body {
  font-family: sans-serif;
  background-image: url("https://raw.githubusercontent.com/InnovativeCreationsWorkshop/InnovativeCreationsWorkshop.github.io/refs/heads/main/arcade/Tracker/img/backgroundv1.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.content-box {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 30px;
    width: 60%;
    margin: 100px auto;
    border-radius: 10px;
}
