@import url("https://fonts.cdnfonts.com/css/metropolis-2");

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Times New Roman;
  background-color: #181b22; /* Adjusted color for main body */
  color: #fff;
}

/* Header Styles */
header {
  background-color: #181619; /* Adjusted color for header */
  color: #fff;
  padding: 20px;
  border-bottom: 2px solid #a76b09; /* Add horizontal line */
}

/* Horizontal Line Styles */
.line {
  border: 1px solid #a76b09; /* Color of the horizontal lines */
  margin-top: 5px; /* Adjust spacing as needed */
}

.logo-container {
  display: flex;
  align-items: center; /* Align logo and business name vertically */
}

.logo-container img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.logo-container h1 {
  font-size: 40px; /* Adjust font size as needed */
  font-family: "Metropolis", Times New Roman, serif;
  font-weight: 400;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Highlight current page menu */
nav ul li.current a {
  color: #a76b09; /* Highlight color for current page */
}

/* Change color on hover */
nav ul li:not(.current) a:hover {
  color: #dda74f; /* Hover color for other menu items */
}

/* Main Styles */
.home-section {
  text-align: center;
  margin-top: 50px;
}

.home-section img {
  max-width: 100%;
}

.description p {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 20px; /* Adjusted left margin */
  margin-right: 20px; /* Adjusted right margin */
  text-align: justify;
  font-size: 20px;
  font-family: "Metropolis", Times New Roman, serif;
  font-weight: 400;
}

.description h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Metropolis", Times New Roman, serif;
  font-weight: 600;
}

/* Footer Styles */
footer {
  background-color: #181619; /* Adjusted color for footer */
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  border-top: 2px solid #a76b09; /* Add horizontal line */
}

/* Media query for screens smaller than 768px (typical tablets and mobile phones) */
@media (max-width: 768px) {
  .logo-container {
    flex-direction: column; /* Stack logo and business name vertically */
    align-items: center; /* Center logo and business name horizontally */
  }

  .logo-container img {
    width: 80px; /* Decrease logo size for mobile */
    height: 80px; /* Decrease logo size for mobile */
    margin-right: 0; /* Remove margin-right */
    margin-bottom: 10px; /* Add space between logo and business name */
  }

  .logo-container h1 {
    font-size: 30px; /* Decrease font size for mobile */
  }

  nav ul {
    flex-direction: column; /* Stack menu items vertically */
    text-align: center; /* Center menu items horizontally */
  }

  nav ul li {
    margin: 10px 0; /* Add space between menu items */
  }
}
