/* Global Styles
COLOR THEME; 
NAVY DARK BLUE #131226 
DARK BLUE #073575
PINK #dc086A
BLUE #3392EF
DARK PINK #CA397B*/
/* Global Styles */
.grid-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
    gap: 15px;
    border: 1px solid #073575;
    padding: 10px;
    border-radius: 8px;
    background-color: #073575;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden; /* Make sure content doesn't overflow the item */
}

.grid-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

/* Fix and center the text-content */
.text-content {
    position: absolute; /* Fixed position within the grid-item */
    top: 50%; /* Vertically center */
    left: 50%; /* Horizontally center */
    transform: translate(-50%, -50%); /* Center by shifting half of its own width/height */
    color: #ffffff;
    text-align: center;
    z-index: 1;
}

.text-content h3 {
    margin: 0;
    font-size: 18px;
    color: white;
}

.text-content p {
    margin: 0;
    font-size: 14px;
    color: white;
}
