<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="..\Template\temp_style.css">
<title>Big Mac Salad</title>

</head>
<body data-page="BigMacSalad">

<div class="card">
    <div class="left">
        <h1>BIG MAC SALAD</h1>

        <div class="stars"> ★<p> Easy</p></div>
        <div class="meta">total time: 20–25 minutes</div>
        <div class="meta">All the burger joy, none of the carb scaffolding. A forkable backyard cookout illusion.</div>

        <img src="" alt="" class="food-image">
        
        <h2>NOTES</h2>
            <div class="meta">
                <li>Add mustard for full burger illusion mode. Toasted sesame seeds give subtle bun vibes. </li>
                <li>Don’t over-stir the beef if you want crispy edges. Perfect for when you want fast food energy with slightly better decisions.</li>
            </div>
        
        <button class="video-btn" onclick="openVideo()">Watch Video</button>
    </div>

    <div class="right">
        <h2>INGREDIENTS</h2>
        <div class="ingredients">
            <ul>
                <li>Iceberg Lettuce</li>
                <li>Ground beef</li>
                <li>Salt, Black pepper</li> 
                <li> Garlic (minced or powder)</li>
                <li>White onion, chopped</li>
            </ul>
            <ul>
                <li>Tomatoes, chopped</li>
                <li>Pickles, chopped</li>
                <li>Cheese (shredded or crumbled)</li>
                <li>Thousand Island dressing</li>
            </ul>
        </div>

        <h2>DIRECTIONS</h2>
        <div class="directions">
            <ol>
                <li>Cook the beef in a pan over medium-high heat. Season with salt, pepper, and garlic. Brown until slightly crispy and crumbly.</li>
                <li>In a large bowl, combine lettuce to build the crunchy base.</li>
                <li>Add chopped tomatoes, onion, pickles, and cheese over the lettuce.</li>
                <li>Spoon hot ground beef over the top, letting it slightly wilt the greens.</li>
                <li>Drizzle with Thousand Island dressing and toss lightly or leave layered.</li>
            </ol>

            

        </div>
    </div>
</div>

<div class="next-container">
    <a href="#" class="prev-btn">← Previous</a>
    <a href="../main.html" class="home-btn"> Home</a>
    <a href="#" class="next-btn">Next Recipe →</a>
</div>


<script src="..\Script\recipes.js"></script>
<script src="..\Script\nav.js"></script>
<script>
  const key    = document.body.dataset.page;
  const recipe = RECIPES.find(r => r.key === key);
  if (recipe && recipe.image) {
    document.querySelector('.food-image').src = recipe.image;
  }

  function openVideo() {
  if (recipe && recipe.video) {
    window.open(recipe.video, '_blank');
  }
}

</script>


</body>
</html>